body,
html {
	box-sizing: border-box;
	margin: 0;
	margin-top: -3px;
}

@font-face {
	font-family: "visitor";
	src: url(./visitor2.ttf) format("truetype");
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 0.5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
		linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight: normal;
}
.top {
	height: 100px;
	background: coral;
	width: 100%;
	border-bottom: 5px solid #2754bc;
}

.top img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 385px;
}
.container {
	width: 70%;
	margin: auto;
	margin-top: 4rem;
}

.row {
	display: flex;
	justify-content: center;
	padding: 10px;
	height: 600px;
	max-height: 600px;
}

.col-2 {
	flex: 1;
	/* background: url(../images/bg1.jpg); */
	background-position: left;
	padding: 10px;
	text-align: center;
}

.col-6 {
	flex: 3;
	padding: 0 24px;
}

label {
	font-family: "visitor", sans-serif;
	font-size: 3em;
}

.options {
	margin-top: 1rem;
}

.exp img {
	padding-top: 15px;
	display: block;
	margin: auto;
}

.exp img:hover {
	cursor: pointer;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.exp img:hover {
	-webkit-animation-name: hvr-pulse-grow;
	animation-name: hvr-pulse-grow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.poke-box {
	height: 59%;
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position-y: -50px;
	border: 5px solid #2853bb;
}

.pokemon {
	width: 222px;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px);
	}
}
.pokemon {
	animation: bounce 0.2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.poke-stat {
	height: 41%;
	border: 5px solid black;
}

.poke-stat img {
	position: relative;
	width: 79px;
	top: -35px;
	left: 43%;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.poke-stat img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

.img-h {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pokemon-name {
	margin: 0;
	font-family: "visitor";
	font-size: 4em;
	background: #0000007a;
	color: white;
	text-align: center;
}

table {
	width: 80%;
	margin: auto;
	font-family: "visitor";
	font-size: 29px;
}

#pokemon-catch img {
	width: 150px;
}

#poke-list {
	overflow: auto;
	height: 100%;
}

#count {
	font-family: "visitor";
	font-size: 31px;
	margin: 0;
}

#poke-list p {
	font-family: "visitor";
	font-size: 25px;
}

.message-captured {
	width: 100%;
	height: 100%;
	background-size: cover;
}

#explore-msg {
	margin: 19% 0;
	font-family: "visitor";
	font-size: 3em;
	background: #0000007a;
	color: white;
	text-align: center;
	padding: 39px 0;
}

#poke-list::-webkit-scrollbar-track,
.scrollselect {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

#poke-list::-webkit-scrollbar,
.scrollselect {
	width: 5px;
	background-color: #f5f5f5;
}

#poke-list::-webkit-scrollbar-thumb,
.scrollselect {
	background-color: #000000;
	border: 2px solid #555555;
}

.remove {
	font-family: "visitor";
}

.remove:hover {
	color: red;
	cursor: pointer;
}

#ball {
	font-family: "visitor";
	font-size: 2em;
}
#ball img {
	padding-right: 5px;
}

#exploring {
	background: url(../images/giphy.gif);
	width: 100%;
	height: 100%;
}
